body{
    margin: 0%;
    padding: 0;
    background-color: darkgrey;

}
.header {
    background-color: #FFFFFF; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  .nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .nav ul li {
    margin-right: 20px; 
  }
  
  .nav ul li:last-child {
    margin-right: 0; 
  }
  
  .nav ul li a {
    text-decoration: none;
    color: black; 
  }

.image-container{
    display: flex;
    background-color: rgb(9, 57, 9);
    flex-direction: row;
    width: 100%;
    color: rgb(245, 240, 240);                     
    text-decoration: none;    
    
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: #404a40;
    font-size: 55PX;
    font-family: cursive;
    margin-bottom: 18%;
  }
  .title2{
    text-align: center;
    margin-bottom: 18%;
    font-size: 38px;
   
  } 
  .small-image {
    display: block;
    height: auto; 
    margin-right: 10px; 
    margin-bottom: 5px; 
    border: 5px solid black;
    border-radius: 10px; 
    max-width: 482px;
    
}

  .images-container2{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: rgb(245, 240, 240);                     
    text-decoration: none;    
     
}
.image-wrapper p {
    font-size: 15px;
    color: #000000;
    margin-bottom: 20%;
    
}

.contien {
    display: flex;
    justify-content: space-between;
  }

  .button {
    background-color: #007bff; 
    color: #ffffff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.button:hover {
    background-color: #0056b3;
}
.title3{
    margin-bottom: 12%;
    text-align: center;
    font-size: 35px;

}
/* Footer.css */

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.map-container {
    flex: 1;
    margin-right: 20px;
}

.contact-info {
    flex: 1;
}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 5px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    .title3 {
        font-size: 18px;
    }

    .small-image {
        width: 100px; 
    }

    .button {
        font-size: 14px; 
    }

    .image-wrapper {
        margin-bottom: 20px; 
    }
}


@media (max-width: 480px) {
    .title3 {
        font-size: 16px; /* Réduire davantage la taille du titre pour les petits écrans */
    }

    .small-image {
        width: 80px; /* Réduire la taille des images pour les petits écrans */
    }

    .button {
        font-size: 12px; /* Réduire la taille du texte du bouton pour les petits écrans */
    }
}